<div class="container-chat">
  <div class="container-mensajes">
    <div class="chat-mensaje" *ngFor="let mensaje of mensajes" [ngClass]="mensaje.userId === userId ? 'chat-mensaje-enviado' : 'chat-mensaje'">
      <img src='{{mensaje.userImg}}' class="user-mensaje-imagen" alt="">
      <div class="contenido-mensaje">
        <div class="usario-mensaje">{{mensaje.userName}}</div>
        <div class="texto-mensaje">{{mensaje.mensaje}}</div>
      </div>
      <div class="white-space"></div>
    </div>
  </div>
  <div class="container-nuevo-mensaje">
    <input type="text" [(ngModel)]="textoNuevoMensaje" class="input-nuevo-mensaje">
    <button class="button-nuevo-mensaje" (click)="agregarMensaje()">enviar</button>
  </div>
</div>
