.indice-container{
    height: 100px;
    width: 720px;
    overflow: auto;
    border: 1px solid rgba(146, 148, 156, 0.82);
    padding: 27px;
}

.tema-container{
    float: left;
    width: 120px;
    height: 50px;
    background: #5a5d6f;
    margin-right: 20px;
    padding: 12px;
    line-height: 20px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 13px;
    cursor: pointer;
    border: 1px solid #807777;
}

.indice-titulo{
    font-weight: bold;
}

.indice-texto{
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}