ul {
    list-style-type: none;
    margin: 3px;
}
ul.checktree app-item-temario:before {
    height: 1em;
    width: 12px;
    border-bottom: 1px dashed;
    content: "";
    display: inline-block;
    top: -0.3em;
}
ul.checktree app-item-temario { border-left: 1px dashed; }
ul.checktree app-item-temario:last-child:before { border-left: 1px dashed; }
ul.checktree app-item-temario:last-child { border-left: none; }
    