<ul class="checktree">
    <li>
      <label for="administration">4.1) FORMULAS FUNDAMENTALES</label>
      <ul>
          <li><label for="assistantmanager1">4.1.1) formulas de los inversos o de los reciprocos</label></li>
          <li><label for="assistantmanager2">4.1.2) formulas del cociente</label></li>
          <li><label for="assistantmanager3">4.1.3) formulas de los cuadrados</label></li>
      </ul>
    </li>
    <li>
      <label for="administration">4.2) DEMOSTRACIONES</label>
      <ul>
          <li><label for="assistantmanager1">4.2.1) por similitud con alguna formula</label></li>
          <li><label for="assistantmanager2">4.2.2) pasando a senos y/o cosenos</label></li>
          <li><label for="assistantmanager3">4.2.3) despejando de las formulas</label></li>
          <li><label for="assistantmanager3">4.2.4) realizando las operaciones indicadas</label></li>
          <li><label for="assistantmanager3">4.2.5) binomios conjugados</label></li>
      </ul>
    </li>
  </ul>
  