.container-componente-chat{
    display: flex; 
    flex-direction: row;
    font-family: 'Montserrat',sans-serif;
    color: #5f5e5e; 
}

.Container-contactos{
    width: 250px;
    border: 2px solid #d6d6d6;
    border-right: none;
    padding: 5px 15px;
}

.Container-contactos h2{
    margin: 5px 0px;
    font-size: 17px;
    color: #30a989;
}

.Container-contactos h3{
    margin: 23px 0px 8px;
    font-size: 15px;
    font-weight: 400;
}

.contacto{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    padding: 0px 5px;
}

.contacto-imagen{
    height: 24px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 24px;
}

.contacto .contacto-imagen{
    margin-right: 5px;
}

.info-contacto{

}

.container-chat{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 537px;
    width: 600px;
    border: 2px solid #d6d6d6;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
}
.container-mensajes{
    flex-grow: 10;
    padding: 10px;
    overflow: auto;
    padding: 15px 25px;
}
.container-nuevo-mensaje{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 40px;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 5px 5px;
    box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    -webkit-box-sizing:border-box;
    background: rgba(223, 226, 241, 0.82);
}
.input-nuevo-mensaje{
    flex-grow: 9;
}
.button-nuevo-mensaje{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 80px;
    padding: 0 2px 0 0;
    margin-left: 3px;
}
.chat-mensaje{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.chat-mensaje-enviado{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    margin-bottom: 15px;
    text-align: right;
}
.contenido-mensaje{
    /* Alinear los mensajes
    flex-grow: 9;*/
    background: #e0e0e0;
    border: 1px solid #e0e0e0;
    padding: 6px 10px;
    border-radius: 6px;
    max-width: 56%;
}
.user-mensaje-imagen{
    height: 36px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 36px;
}
.chat-mensaje .user-mensaje-imagen{
    margin-right: 5px;
}
.chat-mensaje-enviado .user-mensaje-imagen{
    margin-left: 5px;
}
.white-space{
    height: 36px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 36px;
}
.chat-mensaje .white-space{
    margin-left: 5px;
}
.chat-mensaje-enviado .white-space{
    margin-right: 5px;
}

.chat-mensaje-enviado .contenido-mensaje{
    background: #cff7e2;
    border: 1px solid #c7f5e0;
}
.usario-mensaje{
    font-size: 13px;
    color: #6c88a7;
    margin-bottom: 3px;
}
.texto-mensaje{
    font-size: 13px;
    color: rgb(36, 34, 34);
    flex-shrink: 0;
}

.line{
    display:block;
}

.line h2{
    font-size:12px;
    text-align:center;
    margin: 0;
    border-bottom:1px solid #d6d6d6;
    position:relative; 
}
.line h2 span {
    background-color: white; 
    position: relative; 
    top: 7px; 
    padding: 0 15px;}