<div>
    <img  id="imgPrueba" src="assets/header.png" style="width:100%" alt="">
    <div class="container">
      <h1>Identidades Trigonometricas</h1>
      <app-video variabilidad="Variabilidad1" style="float:left;" ></app-video>
      <app-presentacion variabilidad="Variabilidad1" id="presentacion" style="float:left;margin-left: 30px;"></app-presentacion>
      <app-indice-contenido variabilidad="Variabilidad1" style="display: block;margin-bottom: 20px;"></app-indice-contenido>
      <div style="display: block;">
        <app-temario style="float:left"></app-temario>
        <app-repositorio variabilidad="Variabilidad1" style="float:left;margin-left: 30px;margin-bottom: 20px"></app-repositorio>
    </div>
      <!--<div style="display: block;">
          <app-chat style="float:left"></app-chat>
          <app-repositorio variabilidad="Variabilidad1" style="float:left;margin-left: 30px;margin-bottom: 20px"></app-repositorio>
      </div>
      <div style="display: inline-block; margin-bottom: 20px">
        <app-comentarios ></app-comentarios>
      </div>-->
    </div>
</div>
