<div>
    <img  id="imgPrueba" src="assets/header.png" style="width:100%" alt="">
    <div class="container">
      <h1>Identidades Trigonometricas</h1>
      <app-video variabilidad="Variabilidad1" style="float:left;" ></app-video>
      <app-presentacion variabilidad="Variabilidad1" id="presentacion" style="float:left;margin-left: 30px;"></app-presentacion>
      <app-indice-contenido variabilidad="Variabilidad1"></app-indice-contenido>
      <app-repositorio variabilidad="Variabilidad1"></app-repositorio>
    </div>
</div>
