<h5 style="margin: 0 0 10px; color: #30a989; font-family: 'Montserrat',sans-serif;font-size: 15px;">Lectura sobre Conceptos de Bases de Datos</h5>
<div id="pdf-view" style="width: 100%; box-sizing: border-box;">
  <div id="canvasContainer">
    <!--<canvas id="the-canvas"></canvas>-->
    <pdf-viewer [src]="pdfSrc" 
                [page]="pagina"
                [zoom]="zoom"
                [original-size]="false"
                [show-all]="false"
                [fit-to-page]="true"
                [stick-to-page]  = "true"
                (after-load-complete)="afterLoadComplete($event)"
                (page-rendered)="pageRendererEvent($event)"
                class="pdfViewer"
                style="display: block;width: 300px; height: 400px; overflow: overlay;"
    ></pdf-viewer>
  </div>
  <div id="toolbarContainer">
    <div id="toolbar">
      <div id="toolbarLeft" style="display: inline-block; vertical-align: top; width: 100%; margin: auto; text-align: center; padding-left: 60px; box-sizing: border-box;">
        <fa-icon id="prev" [icon]="faCaretLeft" class="toolbarButton pageUp" (click)="navegarPaginaAnterior()"></fa-icon>
        <div style="display: inline-block; vertical-align: top;">
            <input type="text" id="page_num" [(ngModel)]="pagina" class="toolbarField pageNumber">
            <span class="toolbarLabel"> 
              de 
              <span id="page_count" class="toolbarLabel">
                  <span *ngIf="pdf">{{pdf.numPages}}</span>
              </span>
            </span>
        </div>
        <fa-icon [icon]="faCaretRight" id="next" class="toolbarButton pageDown" title="Next Page" (click)="navegarSiguientePagina()"></fa-icon>
        <div id="zoomButtons">
          <span class="toolbarLabel" (click)="aplicarZoom(0.1)">
            <fa-icon [icon]="faSearchPlus" class="toolbar-icon"></fa-icon>
          </span>
          <span class="toolbarLabel" (click)="aplicarZoom(-0.1)">
            <fa-icon [icon]="faSearchMinus" class="toolbar-icon"></fa-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
