<h5 style="margin: 0 0 10px; color: #4ccfad; font-family: 'Montserrat',sans-serif;font-size: 15px;">TITULO DEL VIDEO</h5>
<video
    id="my-player"
    class="video-js"
    controls
    width="600"
    height="300"
    preload="auto"
    data-setup='{"playbackRates": [1, 1.5, 2]}'>
    <!--<source *ngFor="let source of sources" [attr.data-res]="source.dataRes" src="{{source.src}}" type="{{source.type}}" [attr.label]='source.label'/>-->
    <track src="../../../assets/subs_en.vtt" srclang="en" label="English" kind="subtitles" type="text/vtt">
    <track src="../../../assets/subs_es.vtt" srclang="es" label="Spanish" kind="subtitles" type="text/vtt">

    <!--<track *ngFor="let subtitulo of subtitulos" src="{{subtitulo.src}}" srclang="{{subtitulo.srcLang}}" label="{{subtitulo.label}}" kind="subtitles" [attr.type]="subtitulo.type">-->
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
</video>
<mat-tab-group class="demo-tab-group" style="width: 100%; box-sizing: border-box; margin-top: 20px; background: #fff;" marg>
  <mat-tab label="Transcripcion">
    <div class="demo-tab-content">
      <app-transcripcion idVideo="my-player" variabilidad="Variabilidad1"></app-transcripcion>
    </div>
  </mat-tab>
  <mat-tab label="Indice Temas"  >
    <app-temario></app-temario>
  </mat-tab>
</mat-tab-group>

