<video
    id="my-player"
    class="video-js"
    controls
    width="600"
    height="300"
    preload="auto">
    <source *ngFor="let prueba of sources" [attr.data-res]="prueba.dataRes" src="{{prueba.src}}" type="{{prueba.type}}" [attr.label]='prueba.label'/>
    <track src="../assets/subs_en.vtt" srclang="en" label="English" kind="subtitles" type="text/vtt">
    <track src="../assets/subs_es.vtt" srclang="es" label="Spanish" kind="subtitles" type="text/vtt">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="http://videojs.com/html5-video-support/" target="_blank">
        supports HTML5 video
      </a>
    </p>
</video>
