/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
}

.container{
  padding: 0 50px;
  box-sizing:border-box; 
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
}

.vjs-resolution-button {
  color: #ccc;
  font-family: VideoJS;
}

.vjs-resolution-button .vjs-resolution-button-staticlabel:before {
  content: '\f110';
  font-size: 1.8em;
  line-height: 1.67;
}

.vjs-resolution-button .vjs-resolution-button-label {
    font-size: 1em;
    line-height: 3em;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: inherit;
		font-family: Arial, Helvetica, sans-serif;
}

.vjs-resolution-button ul.vjs-menu-content {
  width: 4em !important;
}

.vjs-resolution-button .vjs-menu {
  left: 0;
}

.vjs-resolution-button .vjs-menu li {
  text-transform: none;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

.ng2-pdf-viewer-container{
  overflow-x: unset !important;
}

#presentacion{
  display: block;
}

#transcript {
  width: 400px;
  margin-top: 10px;
  font-family: Arial, sans-serif;
  border: 1px solid rgba(15, 39, 158, 0.82);
}

#query{
  margin-left: 3px;
  background: #e4e4e4;
  padding:6px 10px;
  border-radius:5px 0 0 5px;
  -moz-border-radius:5px 0 0 5px;
  -webkit-border-radius:5px 0 0 5px;
  -o-border-radius:5px 0 0 5px;
  border:0 none;
  font-size: 14px;
  width:156px;
}
.queryButton{
  background:rgba(15, 39, 158, 0.819608);
  color:white;
  font: 'trebuchet ms', trebuchet;
  padding: 5px 20px;
  border-radius:0 5px 5px 0;
  -moz-border-radius:0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  -o-border-radius:0 5px 5px 0;
  border:0 none;
  font-size: 14px;
  margin-right: 5px;
}
.transcript-searchBox{
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
}

.highlight{
  background: #ffff00;
  font-weight: bold;
}
.transcript-body {
  height: 200px;
  border-top: 1px solid #e0e0e0;
  overflow-y: scroll;
}

.transcript-line {
  position: relative;
  padding: 5px;
  cursor: pointer;
  line-height: 1.3;
}

.transcript-timestamp {
  position: absolute;
  display: inline-block;
  width: 50px;
}

.transcript-text {
  display: block;
  margin-left: 40px;
}

.transcript-line:hover {
  background-color: #c9f3f3;
}

.transcript-line.is-active {
  background-color: #e2fbfb;
}
.transcript-selector{
  display: inline-block;
  margin-bottom: 12px;
  -webkit-appearance: button;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  -webkit-user-select: none;
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-image: url(http://i62.tinypic.com/15xvbd5.png), -o-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-image: url(http://i62.tinypic.com/15xvbd5.png), linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #AAA;
  color: #555;
  font-size: 14px;
  overflow: hidden;
  padding: 4px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 121px;
}
