<div style="width:96%;padding-left: 2%;padding-right: 2%;">
    <h1 class="course-titles">{{Actividad.Titulo}}</h1>
  </div>
<div class="container-activity">
  <ul  class="ui-tabs">
    <li [class.ui-tabs-active]="viewMode == 'tab1'" rel= "tab1" (click)="viewMode ='tab1'">
      Información actividad
    </li>
    <li [class.ui-tabs-active]="viewMode == 'tab2'" rel= "tab2" (click)="viewMode ='tab2'">
      Medios
    </li>
    <li [class.ui-tabs-active]="viewMode == 'tab3'" rel= "tab3" (click)="viewMode ='tab3'">
      Recursos
    </li>
    <li [class.ui-tabs-active]="viewMode == 'tab4'" rel= "tab4" (click)="viewMode ='tab4'">
      Servicios
    </li>
  </ul>
  <div style="width:99%;padding: 30px;padding-left: 2%;" [ngSwitch]="viewMode">
    <div *ngSwitchCase="'tab1'">
        <div style="width: 72%; float: left;">
            <p style="font-family: 'Montserrat',sans-serif; color: #47bb9d;font-size: 15px;line-height: 10px;font-weight: bold;">Descripción</p>
            <p style="font-family: 'Montserrat',sans-serif; color: #5f5e5e; text-align: justify; font-size: 15px;line-height: 22px;">
              {{Actividad.Descipcion}}
            </p>
            <br>
            <p style="font-family: 'Montserrat',sans-serif; color: #47bb9d;font-size: 15px;line-height: 10px;font-weight: bold;">Motivación</p>
            <p style="font-family: 'Montserrat',sans-serif; color: #5f5e5e; text-align: justify; font-size: 15px;line-height: 22px;">
              {{Actividad.Motivacion}}
            </p>
            <br>
            <p style="font-family: 'Montserrat',sans-serif; color: #47bb9d;font-size: 15px;line-height: 10px;font-weight: bold;">Recursos y Servicios</p>
            <p style="font-family: 'Montserrat',sans-serif; color: #5f5e5e; text-align: justify; font-size: 15px;line-height: 22px;">
              Aqui va el texto que describe la actividad. En el texto se debe indicar el proposito de la actividad, la forma en como se debe realizar y lo que se espera una vez se haya terminado. Trate de ser presiso e incentive al estudiante en relacion con la importancia de realizarla para el proceso de aprendizaje y su aplicacion. 
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt numquam, delectus asperiores labore aliquid blanditiis, nemo dignissimos quos soluta aperiam a atque repellat harum itaque sit cumque quae! A, dicta!.
            </p>
            <br>
          </div>
          <div style="float: right; margin-top: 25px; margin-left: 1%; width: 24%;font-family: 'Montserrat',sans-serif;">
            <div style="background-color: #f7dcdc;border-radius: 4px;border: 2px solid #e49191;font-size: 14px;color: #dc1717;padding: 7px 10px;">
                <fa-icon [icon]="faExclamationTriangle" style="color:#dc1717;"></fa-icon>
                Ups! esta actividad no ha sido realizada
            </div>
            <div style="padding: 2px 20px 0px; border: 2px solid #e9e9e9e9;margin-top: 15px;text-align: center;color: #5f5e5e">
                <p style="margin-bottom: 0px;font-size: 12px;font-weight: bold;padding-bottom: 5px;">FECHAS PARA REALIZARLA</p>
                <p style="background: #4ccfad; height: 2px; margin: 0px auto; width: 125px;"></p>
                <p style="margin-bottom: 0px;font-size: 14px;">Esta Actividad inicia el:</p>
                <p style="font-weight: bold; margin-top: 4px; font-size: 14px;">
                  <fa-icon [icon]="faCalendarAlt" style="color:#c1bfbf;"></fa-icon>
                    {{Actividad.FechaInicio}}
                </p>
                <p style="margin-bottom: 0px;font-size: 14px;">y se cierra el:</p>
                <p style="font-weight: bold; margin-top: 4px;font-size: 14px;">
                  <fa-icon [icon]="faCalendarAlt" style="color:#c1bfbf;"></fa-icon>
                  {{Actividad.FechaFin}}
                </p>
            </div>
          </div>
    </div>
    <div *ngSwitchCase="'tab2'">
      <!--<button (click)="open('Hola')">Load Dynamic HTML</button>-->
      <div>
          <ng-container *ngComponentOutlet="dynamicComponent; ngModuleFactory:dynamicModule;"></ng-container>
          <!--<app-quiz></app-quiz>-->
      </div>
      <!--<div style="padding: 15px; background: #f1f1f1; border: 1px solid #e9e9e9; width: 70%;margin-left: 15%;">
        <app-presentacion variabilidad="Variabilidad1" id="presentacion" style="width: 100%;"></app-presentacion>
      </div>-->
    </div>
    <div *ngSwitchCase="'tab3'">
      <div style="padding: 15px; background: #f1f1f1; border: 1px solid #e9e9e9;">
        <app-repositorio variabilidad="Variabilidad1" style="width: 100%"></app-repositorio>
      </div>
    </div>
    <div *ngSwitchCase="'tab4'">
      <app-chat style="display: block;" ></app-chat>
    </div>
  </div>
</div>

